body {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 10px;
}

#action-box {
    background-color: #09b2cb;
    border-radius: 30px;
    padding: 2em;
    margin-top: 4%;
}

input {
    color: black;
}

a {
    color: white;
    font-size: 2em;
}

a:hover {
    color: black;
}